{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% translate 'Home' %}</a></div>{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}

    <p>{% translate "Thanks for spending some quality time with the Web site today." %}</p>
    {% if 'accounts' in request.path %}
        <p><a href="{% url 'login' %}">{% translate 'Log in again' %}</a></p>
    {% else %}
        <p><a href="{% url 'admin:index' %}">{% translate 'Log in again' %}</a></p>
    {% endif %}
{% endblock %}
