{% extends 'drive/master.html' %}
{% block content %}
    <h5>Upload new file(PDF/Powerpoint Only allowed)</h5>
    <form method="post" class="form" enctype="multipart/form-data">
        {% if form.title.errors or  form.file_path.errors %}
            <div class="alert alert-danger">{{ form.title.errors }}
                {{ form.file_path.errors }}</div>
        {% endif %}
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="{{ form.title.id_for_label }}">Title</label>
                <input type="text" class="form-control mb-2" id="{{ form.title.name }}" name="{{ form.title.name }}" placeholder="Title" required>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="{{ form.file_path.id_for_label }}">Username</label>
                <div class="input-group mb-2">
                    <input type="file" class="form-control" id="{{ form.file_path.name }}" name="{{ form.file_path.name }}" placeholder="Username" required>
                </div>

            </div>
            <div class="col-auto">
                <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" id="{{ form.is_private.name }}" name="{{ form.is_private.name }}"  checked>
                    <label class="form-check-label" for="{{ form.is_private.id_for_label }}">
                        Private ?
                    </label>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Upload</button>
            </div>
        </div>
        {% csrf_token %}
    </form>
    <hr>
    {% if not search %}
        <h5>My Files</h5>
    {% else %}
        <h5>Search Results</h5>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>File</th>
            {% if search %}
                <th>Owner</th>
            {% else %}
                <th>Is Private ?</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for file in uploaded_files %}
{#            {% if search %}#}
{#                {% with file=file.object %}#}
{#                    <tr>#}
{#                        <td>{{ file.title }}</td>#}
{#                        <td><a href="{{ file.file_path.url }}" target="_blank">View File</a></td>#}
{#                        {% if search %}#}
{#                            {% if file.owner == request.user %}#}
{#                                <td>Me (Is Private: {{ file.is_private }})</td>#}
{#                            {% else %}#}
{#                                {% if  file.owner.full_name %}#}
{#                                    <td>{{ file.owner.full_name }} lll</td>#}
{#                                {% else %}#}
{#                                    <td>{{ file.owner.username }}</td>#}
{#                                {% endif %}#}
{#                            {% endif %}#}
{#                        {% else %}#}
{#                            <td>{{ file.is_private }}</td>#}
{#                        {% endif %}#}
{#                    </tr>#}
{##}
{#                {% endwith %}#}
{#            {% else %}#}
                <tr>
                    <td>{{ file.title }}</td>
                    <td><a href="{{ file.file_path.url }}" target="_blank">View File</a></td>
                    {% if search %}
                        {% if file.owner == request.user %}
                            <td>Me (Is Private: {{ file.is_private }})</td>
                        {% else %}
                            {% if  file.owner.full_name %}
                                <td>{{ file.owner.full_name }} lll</td>
                            {% else %}
                                <td>{{ file.owner.username }}</td>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <td>{{ file.is_private }}</td>
                    {% endif %}
                </tr>
{#            {% endif %}#}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
